<div
  style="
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div style="width: 400px">
    <mat-card style="padding: 50px 30px">
      <h1 style="font-weight: 500; margin-bottom: 30px">Create Account</h1>
      <form [formGroup]="signUpForm" class="form-container" style="width: 100%">
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
          "
        >
          <mat-form-field class="full-width">
            <input
              formControlName="FullName"
              matInput
              placeholder="Full name"
            />
            <mat-hint
              style="color: red"
              *ngIf="
          signUpForm.get('FullName')?.touched &&
          signUpForm.get('FullName')?.errors?.['required']
        "
              >Full Name is required</mat-hint
            >
            <mat-hint
              style="color: red"
              *ngIf="
          signUpForm.get('FullName')?.touched &&
          signUpForm.get('FullName')?.errors?.['pattern']
        "
              >Invalid Full Name</mat-hint
            >
          </mat-form-field>
          <mat-form-field class="full-width">
            <input formControlName="Phone" matInput placeholder="Phone" />
            <mat-hint
              style="color: red"
              *ngIf="
          signUpForm.get('Phone')?.touched &&
          signUpForm.get('Phone')?.errors?.['required']
        "
              >Phone is required</mat-hint
            >
            <mat-hint
              style="color: red"
              *ngIf="
          signUpForm.get('Phone')?.touched &&
          signUpForm.get('Phone')?.errors?.['pattern']
        "
              >Invalid Phone Number</mat-hint
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              formControlName="Password"
              [type]="hide ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </form>
      <button
        mat-flat-button
        color="primary"
        style="margin-top: 10px"
        disabled="{{ signUpForm.invalid }}"
        (click)="saveForm()"
      >
        Sign Up
      </button>
    </mat-card>
  </div>
</div>
