<div>
  <section>
    <div class="coverContainer">
      <div class="imageContainer">
        <div class="coverAction">
          <div>
            <h1 class="actionText">Let your curiosity do the booking</h1>
          </div>
          <div>
            <button
              mat-flat-button
              class="actionBtn"
              (click)="goToHotelsPage()"
            >
              Get Started
            </button>
          </div>
        </div>
      </div>
    </div>
    <section class="about" style="margin-top: 280px">
      <div class="aboutCard">
        <h1 class="aboutCardHeading">Affordable</h1>
        <p class="aboutCardText">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque esse
          officiis optio possimus ut molestias cum nisi vitae eum recusandae,
          alias quod placeat ipsam eos. Quod numquam minus asperiores pariatur!
        </p>
      </div>
      <div class="aboutCard">
        <h1 class="aboutCardHeading">Safe & Secure</h1>
        <p class="aboutCardText">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque esse
          officiis optio possimus ut molestias cum nisi vitae eum recusandae,
          alias quod placeat ipsam eos. Quod numquam minus asperiores pariatur!
        </p>
      </div>
      <div class="aboutCard">
        <h1 class="aboutCardHeading">Best in Class</h1>
        <p class="aboutCardText">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque esse
          officiis optio possimus ut molestias cum nisi vitae eum recusandae,
          alias quod placeat ipsam eos. Quod numquam minus asperiores pariatur!
        </p>
      </div>
    </section>
  </section>
</div>
